@import url("normalize.css");

:root {
  --color-button: #00afdb;
  --color-button-hover: #009cc2;
  --color-heading: #373737;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text: #4e4e4e;
  --color-grey-bg: #f5f6f7;
  --color-grey-text: #818181;
  --color-community-bg: #f5f6f7;
  --basic-font-size: 14px;
  --side-margin: 269px;
  --main-menu-margin: 45px;
  --logo-size: 44px;
  --social-size: 20px;
  --page-width: 1600px;
  --slide-width: 407px;
  --slide-height: 244px;
  --text-block-size: 407px;
  --section-top-padding: 119px;
  --section-bottom-padding: 134px;
}

/* common styles */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--color-text);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--basic-font-size);
  line-height: 140%;
}

header,
footer,
main,
nav,
section,
figure,
form {
  margin: 0;
  display: block;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  display: block;
  color: var(--color-heading);
}

strong {
  font-weight: 500;
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

h4 {
  font-size: var(--basic-font-size);
}

h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 11px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 19px 0 0px 0;
}

/* main blocks */

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.global-wrapper {
  width: var(--page-width);
  /* max-width: 100%; */
}

header,
footer,
.your-life,
.subscribe {
  background-color: var(--color-black);
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-life {
  background-image: url("assets/hero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  /* height: 100vh; */
  height: 645px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rappresent {
  padding-bottom: var(--section-bottom-padding);
}

.implement {
  padding-bottom: 135px;
}
.rappresent,
.implement {
  padding-top: 120px;
}

.our-community {
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  padding-top: 80px;
  background-color: var(--color-community-bg);
  padding-bottom: 140px;
}

.subscribe {
  height: 598px;
  color: var(--color-white);
  background-image: url("assets/form-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.download {
  height: 468px;
}

.content-wrapper {
  margin: 0 var(--size-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ftr-wrapper {
  margin: 0 160px 0 140px;
  padding: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.text-block {
  width: var(--text-block-size);
  flex-direction: column;
  justify-content: center;
}

.narrow-block {
  width: 298px;
  height: fit-content;
  text-align: center;
  margin: auto 139px 20px auto;
}

.narrow-block p {
  line-height: 20px;
  margin-bottom: 13px;
}

/* details */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rappresent .content-wrapper {
  margin: 0 130px 0 128px;
}

.implement .text-block {
  margin: 0 110px 3px 140px;
}

.rappresent .text-block {
  margin: 0 247px 5px 0;
}

.text-block h3 {
  text-align: left;
  margin-right: 20px;
}

.text-block p {
  margin: 0 0 27px 0;
  line-height: 20px;
}

.subscribe h3 {
  color: var(--color-white);
  margin-bottom: 30px;
}

.btn {
  display: block;
  padding: 15px 0;
  background-color: var(--color-button);
  position: relative;
  width: 182px;
  height: 46px;
  color: var(--color-white);
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background-color: var(--color-button-hover);
}

.btn-store {
  width: 188px;
  height: 50px;
  text-align: left;
  background: var(--color-button);
  background: linear-gradient(
    90deg,
    var(--color-button) 68%,
    var(--color-button-hover) 68%,
    var(--color-button-hover) 0%
  );
  padding: 18px;
}

.btn-store:hover {
  background: linear-gradient(
    90deg,
    var(--color-button-hover) 100%,
    var(--color-button-hover) 0%
  );
}

.btn-store:after {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 20px;
  height: 23px;
  float: right;
}

.appstore {
  margin-right: 30px;
}

.appstore:after {
  background-image: url("assets/icon-apple.svg");
  margin: -5px 2px 0 0;
}

.playmarket:after {
  background-image: url("assets/icon-android.svg");
  margin: -6px 2px 0 0;
}

.btn-submit {
  width: 66px;
  height: 46px;
  background-image: url("assets/icon-submit.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px;
  padding: 0;
}
.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  border: none;
  background-image: url("assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.hero-content {
  margin: 145px 0 0 0;
  text-align: center;
  color: var(--color-white);
}

.hero-content h4 {
  display: block;
  font-weight: 400;
  font-size: 18px;
  max-width: 508px;
  color: var(--color-white);
  margin: 35px auto 0 auto;
  line-height: 25px;
}

.hero-content .btn {
  margin: 28px auto;
  width: 184px;
}

.motto,
.motto h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.motto h1 {
  display: inline;
}

.socials {
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin: auto auto 90px auto;
}

.socials a {
  width: var(--social-size);
  height: var(--social-size);
  background-repeat: no-repeat;
  background-image: url("assets/socials.svg");
}

.socials a:hover {
  opacity: 0.5;
}

.download p {
  max-width: 483px;
  text-align: center;
  margin: 0 0 30px 0;
}

.download-buttons {
  display: flex;
  margin-bottom: 60px;
}

.mail {
  background-position: left center;
}
.fb {
  background-position: -50px center;
}
.ig {
  background-position: -100px center;
}
.yt {
  background-position: right center;
}

.copyright {
  align-self: center;
}

/* menu */

nav a {
  color: var(--color-white);
  text-decoration: none;
  text-transform: capitalize;
}

.main-menu {
  margin-right: 12px;
}

.main-menu a {
  margin: 0 var(--main-menu-margin);
  line-height: 16px;
}

.main-menu a.active {
  font-weight: 500;
  border-bottom: 1px solid #ffffff;
}
.main-menu a:hover {
  opacity: 0.5;
}

.main-menu .logo {
  display: inline-block;
  /* margin: 0 calc(100px - var(--main-menu-margin));*/
  margin: -4px calc(90px - 34px) 0 calc(90px - 36px);
}

.ftr-menu a {
  padding: 0 20px;
  border-right: 1px solid #4e4e4e;
  line-height: 8px;
}

.ftr-menu a:first-of-type {
}

.ftr-menu a:last-of-type {
  border-right: none;
}

.ftr-menu a:hover {
  opacity: 0.5;
}

footer .logo {
  display: block;
  margin: 61px 90px 60px 0;
}

/* form */

form {
  margin-bottom: 60px;
}

.form-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

input {
  border: none;
  background-color: var(--color-white);
  padding: 14px 24px 12px;
  color: var(--color-heading);
  font-weight: 400;
  width: 340px;
  height: 46px;
}

/* slider */

.slider {
  width: 894px;
}

.viewport {
  width: 894px;
  height: 244px;
  overflow: hidden;
}
.slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: calc((407px + 30px) * 5);
}

.slide {
  width: var(--slide-width);
  height: var(--slide-height);
  margin-right: 30px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("assets/slide1.jpg");
}
.slide2 {
  background-image: url("assets/slide2.jpg");
}
.slide3 {
  background-image: url("assets/slide3.jpg");
}
.slide4 {
  background-image: url("assets/slide2.jpg");
}
.slide5 {
  background-image: url("assets/slide1.jpg");
}

.pagination {
  width: 79px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  float: right;
  margin: 0 269px 20px 0;
}

.pagination a {
  width: 10px;
  height: 20px;
  background-image: url("assets/arrows.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.pagination a:hover {
  opacity: 0.5;
}

.prev {
  background-position: left center;
  margin: 0 10px 0 0;
}
.next {
  background-position: right center;
  margin: 0 0 0 10px;
}

.pagination span {
  font-size: 18px;
  color: var(--color-heading);
}
